<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="${cssUri}" />
    </head>
    <body>
        <div class="context-control">
            <select id="pathItems"></select>
            <select id="context"></select>
        </div>
        <div id="error-overlay" class="error-overlay"></div>
        <script type="text/javascript" src="${scriptUri}" />
    </body>
</html>
